ion-content {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100%; /* Asegurar que ocupe toda la pantalla */
}
.login{
  display: flex;
  justify-content: center;
  align-content: center;
}
form {
  width: 100%;
  max-width: 400px; /* Limitar el ancho máximo del formulario */
  padding: 20px;
  background-color: #e8d6d6; /* Fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(228, 220, 220, 0.1); /* Sombra para efecto estético */
}

ion-item {
  margin-bottom: 15px; /* Separación entre los campos */
}

ion-button {
  margin-top: 10px; /* Espaciado superior para el botón */
}
